# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
.env/
.conda/
conda/
*.conda

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

*.fits

# Logs
*.log

# Torch / model artifacts (optional)


# IDE
.vscode/
.idea/

# Large astronomy data files
*.fits
*.fit
*.fts
